<div class="setPosition">
    <span class="setHeadFontFamily">手机号码登陆</span>
    <div class="setContantPosition setFontFamilyStyle">
        <div><span class="">手机号</span> <input readonly="readonly" [(ngModel)]="phoneNumber" class="phoneNumberPageInput resetPhoneNumberInputPosition" placeholder="输入手机帐号"></div>
        <div class="setBorder"><span class="phoneNumber">密码 </span>
            <input #passwrod type="password" [(ngModel)]="passwrodNumber" class="phoneNumberPageInput" placeholder="输入密码">
        </div>
    </div>


    <button [disabled]="passwrod.value.length < 6" class="setButtonStyle" (click)='goToLogon()'>登录</button>
</div>